extends email-layout

block content
  //- curently in table elem
  tr
    td(colspan=2)
      h1 #{bol.type} BOL Record
  tr
    td.label BOL:
    td.data #{bol.id}
  tr
    td.label VIN:
    td.data #{bol.vin}
  tr
    td.label Date:
    td.data.date #{bol.emailDate}
  tr
    td.label Location:
    td.data #{bol.location.city}, #{bol.location.state} #{bol.location.postal}
  tr
    td.map(colspan='2')
      img.single_map.details_location-map(src=h.staticMap(bol.location.coordinates))
  tr
    td.label Driver:
    td.data #{bol.driver}
  tr
    td.label Damage:
    td.driver=(bol.damage? 'Yes' : 'No')
  tr
    td.label(colspan='2') Photos:
  tr
    td.photos(colspan='2')
      each photo in bol.photos
        if photo != 'custSig.png' && photo != 'driveSig.png'
          img.photo(src=`http://${process.env.DOMAIN}/bols/${bol.id}/${photo}`)
  tr
    td.signature
      img.sigImg(src=`http://${process.env.DOMAIN}/bols/${bol.id}/driveSig.png`)
    td.signature      
      img.sigImg(src=`http://${process.env.DOMAIN}/bols/${bol.id}/custSig.png`)
  tr
    td
      p #{bol.driver}
    td
      p #{bol.customerName}