extends layout

block content
  .inner.signature
    .card
      h1 Customer Signature
      .customer-signature-name=bol.customerName
      canvas(id="customer-signature-pad" class="signature-pad")
      .customer-signature-pad-controls
        button(id='customer-done') Done
        button.clear(id='customer-clear') Clear
      h1 Driver Signature
      .driver-signature-name=bol.driver
      canvas(id="driver-signature-pad" class="signature-pad")
      .driver-signature-pad-controls
        button(id='driver-done') Done
        button.clear(id='driver-clear') Clear
      .signature-pad-error

      .signature-pad-controls
        button(id='save') Save
  script(src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js")
  script.
    var vin="#{bol.vin}"
    var id="#{bol.id}"
    var errMsg = document.querySelector('.signature-pad-error')
    driverDoneBool = false
    customerDoneBool = false
    var saveButton = document.getElementById('save');
    var driverDoneButton = document.getElementById('driver-done');
    var driverCancelButton = document.getElementById('driver-clear');
    var customerDoneButton = document.getElementById('customer-done');
    var customerCancelButton = document.getElementById('customer-clear');
    var custCanvasWidth = document.querySelector('.customer-signature-name')
    var driverCanvasWidth = document.querySelector('.driver-signature-name')
    var custCanvas = document.getElementById('customer-signature-pad')
    var driverCanvas = document.getElementById('driver-signature-pad')
    var img = document.getElementById('img');

    var customerSignaturePad = new SignaturePad(document.getElementById('customer-signature-pad'), {
      backgroundColor: 'rgba(255, 255, 255, 1)',
      penColor: 'rgb(0, 0, 0)'
    });
    var driverSignaturePad = new SignaturePad(document.getElementById('driver-signature-pad'), {
      backgroundColor: 'rgba(255, 255, 255, 1)',
      penColor: 'rgb(0, 0, 0)'
    });

    custCanvas.width = custCanvasWidth.offsetWidth > 600 ? 600 : custCanvasWidth.offsetWidth
    driverCanvas.width = driverCanvasWidth.offsetWidth > 600 ? 600 : driverCanvasWidth.offsetWidth

    saveButton.addEventListener('click', function (e) {
      //validate signatures are 'done'
      if (!driverDoneBool || !customerDoneBool) {
        warnNoSig()
        return
      }
      //get URI
      var customerSignatureData = customerSignaturePad.toDataURL('image/png');
      var driverSignatureData = driverSignaturePad.toDataURL('image/png');
      //send uri in Post
      submitFormData(`custSig=${customerSignatureData}&driveSig=${driverSignatureData}`)
      warnWaiting()
    });

    driverCancelButton.addEventListener('click', function (e) {
      driverSignaturePad.on();
      driverSignaturePad.clear();
    });

    driverDoneButton.addEventListener('click', function (e) {
      driverDoneBool = !driverDoneBool
      if (driverDoneBool) {
        driverDoneButton.classList.add('done')
        driverSignaturePad.off();
      } else {
        driverDoneButton.classList.remove('done')
        driverSignaturePad.on();
      }
    });

    customerCancelButton.addEventListener('click', function (e) {
      customerSignaturePad.on();
      customerSignaturePad.clear();
    });

    customerDoneButton.addEventListener('click', function (e) {
      customerDoneBool = !customerDoneBool
      if (customerDoneBool) {
        customerDoneButton.classList.add('done')
        customerSignaturePad.off();
      } else {
        customerDoneButton.classList.remove('done')
        customerSignaturePad.on();
      }
    });

    function submitFormData(data) {
      var xhr = new XMLHttpRequest();
      xhr.open('post', `/addBolSig/${id}`, true)
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function (e) {
        if (xhr.readyState ===4) {
          if (xhr.status === 200) {
            result = JSON.parse(xhr.responseText)
            if (result.status === 200) {
              window.location.href = `/confirmBol/${id}`
            } else {
              warnError(result)
            }
          }
        }
      }
      xhr.onerror = function (e) {
        console.error(xhr.statusText);
      }
      xhr.send(data)
    }

    function warnNoSig() {
      console.log('warnNoSig')
      errMsg.innerHTML = 'Signatures must be filled out and you must click "Done"'
      errMsg.classList.remove('wait')
      return
    }

    function warnWaiting() {
      console.log('warnWaiting')
      errMsg.innerHTML = 'Submiting.. Please Wait'
      errMsg.classList.add('wait')
      return
    }

    function warnError() {
      errMsg.innerHTML = 'Something Happened... Please try again.'
      errMsg.classList.remove('wait')
      console.log('warnWaiting')
      return
    }

    function resizeCanvas() {
      custCanvas.width = custCanvasWidth.offsetWidth > 600 ? 600 : custCanvasWidth.offsetWidth
      driverCanvas.width = driverCanvasWidth.offsetWidth > 600 ? 600 : driverCanvasWidth.offsetWidth

      driverDoneButton.classList.remove('done')
      driverSignaturePad.on();

      customerDoneButton.classList.remove('done')
      customerSignaturePad.on();

      driverDoneBool = false
      customerDoneBool = false
    }

    window.addEventListener("resize", resizeCanvas);
    resizeCanvas();