extends layout

block content
  .inner
    h5 Customer Signature
    canvas(id="customer-signature-pad" class="signature-pad" width=500 height=175)
    .customer-signature-name=bol.customerName
    .customer-signature-pad-controls
      button(id='customer-done') Done
      button(id='customer-clear') Clear
    h5 Driver Signature
    canvas(id="driver-signature-pad" class="signature-pad" width=500 height=175)
    .driver-signature-name=bol.driver
    .driver-signature-pad-controls
      button(id='driver-done') Done
      button(id='driver-clear') Clear
    .signature-pad-controls
      button(id='save') Save
  script(src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js")
  script.
    var vin="#{bol.vin}"
    driverDoneBool = false
    customerDoneBool = false
    var saveButton = document.getElementById('save');
    var driverDoneButton = document.getElementById('driver-done');
    var driverCancelButton = document.getElementById('driver-clear');
    var customerDoneButton = document.getElementById('customer-done');
    var customerCancelButton = document.getElementById('customer-clear');
    var img = document.getElementById('img');
    var customerSignaturePad = new SignaturePad(document.getElementById('customer-signature-pad'), {
      backgroundColor: 'rgba(255, 255, 255, 1)',
      penColor: 'rgb(0, 0, 0)'
    });
    var driverSignaturePad = new SignaturePad(document.getElementById('driver-signature-pad'), {
      backgroundColor: 'rgba(255, 255, 255, 1)',
      penColor: 'rgb(0, 0, 0)'
    });

    saveButton.addEventListener('click', function (e) {
      //validate signatures are 'done'
      if (!driverDoneBool || !customerDoneBool) {
        warnNoSig()
        return
      }
      //get URI
      var customerSignatureData = customerSignaturePad.toDataURL('image/png');
      var driverSignatureData = driverSignaturePad.toDataURL('image/png');
      //send uri in Post
      submitFormData(`custSig=${customerSignatureData}&driveSig=${driverSignatureData}`)
      warnWaiting()
    });

    driverCancelButton.addEventListener('click', function (e) {
      driverSignaturePad.on();
      driverSignaturePad.clear();
    });

    driverDoneButton.addEventListener('click', function (e) {
      driverDoneBool = !driverDoneBool
      if (driverDoneBool) {
        driverDoneButton.classList.add('done')
        driverSignaturePad.off();
      } else {
        driverDoneButton.classList.remove('done')
        driverSignaturePad.on();
      }
    });

    customerCancelButton.addEventListener('click', function (e) {
      customerSignaturePad.on();
      customerSignaturePad.clear();
    });

    customerDoneButton.addEventListener('click', function (e) {
      customerDoneBool = !customerDoneBool
      if (customerDoneBool) {
        customerDoneButton.classList.add('done')
        customerSignaturePad.off();
      } else {
        customerDoneButton.classList.remove('done')
        customerSignaturePad.on();
      }
    });

    function submitFormData(data) {
      var xhr = new XMLHttpRequest();
      xhr.open('post', `/addBolSig/${vin}`, true)
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function (e) {
        if (xhr.readyState ===4) {
          if (xhr.status === 200) {
            result = JSON.parse(xhr.responseText)
            if (result.status === 200) {
              window.location.href = `/confirmBol/${vin}`
            } else {
              warnError(result)
            }
          }
        }
      }
      xhr.onerror = function (e) {
        console.error(xhr.statusText);
      }
      xhr.send(data)
    }

    function warnNoSig() {
      console.log('warnNoSig')
      return
    }

    function warnWaiting() {
      console.log('warnWaiting')
      return
    }

    function warnError() {
      console.log('warnWaiting')
      return
    }