extends layout

block content
  .inner
    form.form(method='post' action='/searchBol')
      label.label(for='vin') Find Existing BOL
      input(name='vin' type='text' placeholder='VIN')
      input.submit(name='submit' type='submit' value='Search')
    .bols
      table.table
        thead
          tr
            th Date
            th Time
            th Location
            th VIN
            th Type
            th Status
            th Driver
            th Damage
            th Customer Email
            //- if user.admin
            //-   th Delete?
        tbody
          each bol in bols
              tr.clickable
                td=moment(bol.confirmedDate).format("DD MMM YYYY")
                td=moment(bol.confirmedDate).format("hh:mm a")
                td #{bol.location.city}, #{bol.location.state} #{bol.location.postal}
                td.ct
                  a.row-link(href=`/bol/${bol.id}`)=bol.vin
                td=bol.type
                td=bol.status
                td=bol.driver
                td=bol.damage ? 'Yes' : 'No'
                td #{bol.customerName} &lt#{bol.customerEmail}&gt
                //- if user.admin
                //-   td.ct
                //-     a.row-link(href=`/delete/bol/${bol.id}`) Delete
  script.